body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background: linear-gradient(to right, #74ebd5, #acb6e5);

  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column; /* Change direction to column */
  justify-content: center;
  align-items: center;
  color: white;
}

p {
  font-size: 18px;
  text-align: center; /* Center text */
}

button {
  margin: 10px 0;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
